<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="danyil.karabinovskyi.studentproject">

    <application
        android:name=".core.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_education"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_education_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentProject">
        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.global.GlobalActivity">
        </activity>
    </application>

</manifest>